.cards {
  width: 68.75%;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .cards {
    width: 88.13%;
    margin: 36px auto 0;
    grid-template-columns: 1fr;
  }
}
