.header__navbar {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  text-align: right;
  color: #fff;
  text-decoration: none;

  display: flex;
  flex-direction: row;
}
