.auth__submit-button {
  background-color: #fff;
  width: 100%;
  color: #000;
  border: 0;
  padding: 0;
  min-height: 50px;
  border-radius: 2px;

  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
